<div class="projets-container">
  <h2>Projets</h2>
  <div class="projets-list">
    <div class="projet-card" *ngFor="let projet of projets" (click)="openModal(projet)">
      <img [src]="projet.image" alt="{{projet.title}}" class="projet-image" />
      <h3>{{projet.title}}</h3>
      <div class="projet-technos">
        <span *ngFor="let techno of projet.technos.slice(0,3)" class="projet-tech">#{{techno}}</span>
        <span *ngIf="projet.technos.length > 3">...</span>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal-overlay" *ngIf="isModalOpen">
    <div class="modal-content">
      <button class="close-btn" (click)="closeModal()">&times;</button>
      <div class="modal-flex-row">
        <div class="modal-left">
          <img *ngIf="selectedProjet?.image" [src]="selectedProjet.image" alt="{{selectedProjet.title}}" class="modal-image" />
        </div>
        <div class="modal-right">
          <h2>{{selectedProjet?.title}}</h2>
          <p *ngIf="selectedProjet?.description">{{selectedProjet.description}}</p>
        </div>
      </div>
      <div class="modal-technos-full">
        <span *ngFor="let techno of selectedProjet?.technos" class="projet-tech">#{{techno}}</span>
      </div>
      <div class="modal-link-full">
        <a *ngIf="selectedProjet?.link" [href]="selectedProjet.link" target="_blank">Lien</a>
      </div>
    </div>
  </div>
</div>
